# 판다스 데이터 구조
* Series, DataFrame 의 구조를 지원한다.
    * Sereis는 1차원 배열 구조
    * DataFrame은 2차원 배열 구조

# DataFrame 기본

<table align="left">
  <td>
    <a target="_blank" href="https://drive.google.com/file/d/1apI_WV73MliOWCFQcfgcIZU_vng7jpBG/view?usp=sharing"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />구글 코랩에서 실행하기</a>
  </td>
</table>

## Pandas 사용 준비

In [1]:
#!pip install pandas  # 판다스 설치

In [1]:
import pandas as pd

## DataFrame 선언하기

판다스는 데이터프레임 을 이해하는 것 핵심. 행(axis=0, 로우/레코드/인덱스/노드), 열(axis=1, 컬럼/변수/피쳐/어트리뷰트)로 구성이 되어 있음.<br>
<br><b> 데이터 불러오는 것 = 인덱스 활용하여 불러오는 것 ,<br> 그 중 어떤 특징을 불러오는 것 = 특정한 열을 불러오는 것</b> <br><br>
데이터 프레임을 만들고 활용하는 연습을 해보자

In [3]:
import numpy as np

dataset = np.array([['kor', 70], ['math', 80]]) 
df = pd.DataFrame(dataset, columns=['class', 'score']) # 넘파이 배열 객체 dataset을 데이터프레임으로 받음
df

  class score
0   kor    70
1  math    80

In [4]:
df = pd.DataFrame(data=[['kor', 70], ['math', 80]], columns=['class', 'score'])
df

  class  score
0   kor     70
1  math     80

In [5]:
df = pd.DataFrame({'class':['kor', 'math'], 'score':[70, 80]}) # 딕셔너리 형태로 데이터프레임 받을 수 있음
df # 각 컬럼은 리스트 형태로 담김 (리스트 구성요소 갯수가 같아야 오류가 나지 않음)

  class  score
0   kor     70
1  math     80

In [6]:
pd.Series({'idx_1':[1,2,3], 'idx_2':[10, 20, 30]}, name='class') # 1개의 변수를 갖는 시리즈도 딕셔너리를 받을 수 있음

idx_1       [1, 2, 3]
idx_2    [10, 20, 30]
Name: class, dtype: object

## DataFrame 읽고 저장하기

In [8]:
# filepath = './data/data.csv'
# data = pd.read_csv(filepath, na_values='NA', encoding='utf8')

## DataFrame 출력

In [15]:
# !pip install scikit-learn # 사이킷런 설치
from sklearn.datasets import load_iris # 많이 쓰는 데이터인 iris는 사이킷런의 데이터셋으로 불러 볼수 있음

iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
7                  5.0               3.4                1.5               0.2
8                  4.4               2.9                1.4               0.2
9                  4.9               3.1                1.5               0.1
10                 5.4               3.7                1.5               0.2
11                 4.8               3.4                1.6               0.2
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1
14                 5.8               4.0                1.2               0.2
15                 5.7               4.4                1.5               0.4
16                 5.4               3.9                1.3               0.4
17                 5.1               3.5                1.4               0.3
18                 5.7               3.8                1.7               0.3
19                 5.1               3.8                1.5               0.3
20                 5.4               3.4                1.7               0.2
21                 5.1               3.7                1.5               0.4
22                 4.6               3.6                1.0               0.2
23                 5.1               3.3                1.7               0.5
24                 4.8               3.4                1.9               0.2
25                 5.0               3.0                1.6               0.2
26                 5.0               3.4                1.6               0.4
27                 5.2               3.5                1.5               0.2
28                 5.2               3.4                1.4               0.2
29                 4.7               3.2                1.6               0.2
30                 4.8               3.1                1.6               0.2
31                 5.4               3.4                1.5               0.4
32                 5.2               4.1                1.5               0.1
33                 5.5               4.2                1.4               0.2
34                 4.9               3.1                1.5               0.2
35                 5.0               3.2                1.2               0.2
36                 5.5               3.5                1.3               0.2
37                 4.9               3.6                1.4               0.1
38                 4.4               3.0                1.3               0.2
39                 5.1               3.4                1.5               0.2
40                 5.0               3.5                1.3               0.3
41                 4.5               2.3                1.3               0.3
42                 4.4               3.2                1.3               0.2
43                 5.0               3.5                1.6               0.6
44                 5.1               3.8                1.9               0.4
45                 4.8               3.0                1.4               0.3
46                 5.1               3.8                1.6               0.2
47                 4.6               3.2                1.4               0.2
48                 5.3               3.7                1.5               0.2
49                 5.0               3.3                1.4               0.2
50                 7.0               3.2                4.7               1.4
51                 6.4               3.2                4.5               1.5
52                 6.9               3.1                4.9               1.5
53                 5.5               2.3                4.0               1.3
54                 6.5               2.8                4.6               1.5
55                 5.7               2.8                4.5               1.3
56                 6.3               3.3                4.7               1.6
57                 4.9               2.4                3.3               1.0
58                 6.6               2.9                4.6               1.3
59                 5.2               2.7                3.9               1.4
60                 5.0               2.0                3.5               1.0
61                 5.9               3.0                4.2               1.5
62                 6.0               2.2                4.0               1.0
63                 6.1               2.9                4.7               1.4
64                 5.6               2.9                3.6               1.3
65                 6.7               3.1                4.4               1.4
66                 5.6               3.0                4.5               1.5
67                 5.8               2.7                4.1               1.0
68                 6.2               2.2                4.5               1.5
69                 5.6               2.5                3.9               1.1
70                 5.9               3.2                4.8               1.8
71                 6.1               2.8                4.0               1.3
72                 6.3               2.5                4.9               1.5
73                 6.1               2.8                4.7               1.2
74                 6.4               2.9                4.3               1.3
75                 6.6               3.0                4.4               1.4
76                 6.8               2.8                4.8               1.4
77                 6.7               3.0                5.0               1.7
78                 6.0               2.9                4.5               1.5
79                 5.7               2.6                3.5               1.0
80                 5.5               2.4                3.8               1.1
81                 5.5               2.4                3.7               1.0
82                 5.8               2.7                3.9               1.2
83                 6.0               2.7                5.1               1.6
84                 5.4               3.0                4.5               1.5
85                 6.0               3.4                4.5               1.6
86                 6.7               3.1                4.7               1.5
87                 6.3               2.3                4.4               1.3
88                 5.6               3.0                4.1               1.3
89                 5.5               2.5                4.0               1.3
90                 5.5               2.6                4.4               1.2
91                 6.1               3.0                4.6               1.4
92                 5.8               2.6                4.0               1.2
93                 5.0               2.3                3.3               1.0
94                 5.6               2.7                4.2               1.3
95                 5.7               3.0                4.2               1.2
96                 5.7               2.9                4.2               1.3
97                 6.2               2.9                4.3               1.3
98                 5.1               2.5                3.0               1.1
99                 5.7               2.8                4.1               1.3
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2
105                7.6               3.0                6.6               2.1
106                4.9               2.5                4.5               1.7
107                7.3               2.9                6.3               1.8
108                6.7               2.5                5.8               1.8
109                7.2               3.6                6.1               2.5
110                6.5               3.2                5.1               2.0
111                6.4               2.7                5.3               1.9
112                6.8               3.0                5.5               2.1
113                5.7               2.5                5.0               2.0
114                5.8               2.8                5.1               2.4
115                6.4               3.2                5.3               2.3
116                6.5               3.0                5.5               1.8
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3
119                6.0               2.2                5.0               1.5
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [8]:
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
iris.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [10]:
pd.set_option('display.max_columns', None)  # 행 / 열 모두 보기 (줄임 없이 표시됨)
pd.set_option('display.max_rows', None)

## DataFrame 요약 , 통계 정보 확인 하기

In [11]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [12]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

## DataFrame 인덱스 확인, 추가, 리셋

In [13]:
df = pd.DataFrame({'class':['kor', 'math'], 'score':[70, 80]})
df

  class  score
0   kor     70
1  math     80

In [14]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [40]:
list(df.index)

[0, 1]

In [41]:
df.index=['A','B']
df

  class  score
A   kor     70
B  math     80

In [42]:
df.index

Index(['A', 'B'], dtype='object')

In [43]:
df.set_index('class', drop=True, append=False, inplace=True)
df

       score
class
kor       70
math      80

In [46]:
df.reset_index(drop=False, inplace=True)
df

  class  score
0   kor     70
1  math     80

## DataFrame 컬럼명 확인 및 변경

In [47]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [49]:
iris.columns = ['sepal length', 'sepal width', 'petal length','petal width']
iris.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [51]:
iris.columns=iris.columns.str.replace(' ', '_')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

## DataFrame 컬럼의 데이터 타입 확인 및 변경

In [52]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [53]:
iris['sepal_length'] = iris['sepal_length'].astype('int') # astype : 판다스 시리즈 의 타입을 지정

In [54]:
iris[['sepal_width', 'petal_length']] = iris[['sepal_width', 'petal_length']].astype('int') # 복수개 지정할 때, 대괄호 두개

In [55]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0             5            3             1          0.2
1             4            3             1          0.2
2             4            3             1          0.2
3             4            3             1          0.2
4             5            3             1          0.2

# row/columns 선택, 추가, 삭제

## row/column 선택

### row 선택

In [56]:
from sklearn.datasets import load_iris
import pandas as pd

In [57]:
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris[1:4]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

### column 선택

In [59]:
iris['sepal length (cm)'].head(3)

0    5.1
1    4.9
2    4.7
Name: sepal length (cm), dtype: float64

In [61]:
iris[['sepal length (cm)','sepal width (cm)']].head(3)

   sepal length (cm)  sepal width (cm)
0                5.1               3.5
1                4.9               3.0
2                4.7               3.2

### row와 column 선택하기
<br> location의 줄임말인 .loc[] 메소드로 [행,열]의 위치를 가져올 수 있음.<br>
integer location 인 .iloc[행번째, 열번째]로 정확한 행, 열의 이름을 몰라도 불러올 수 있음

In [16]:
iris.iloc[1:4] # .iloc[1:4,:] 와 같음. 즉, 행 기준으로 1~3행 인덱싱

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [64]:
iris.iloc[[1,3,5], 2:4]

   petal length (cm)  petal width (cm)
1                1.4               0.2
3                1.5               0.2
5                1.7               0.4

In [65]:
iris.iloc[:, [True, True, False, True]] # Boolin인덱싱 : True 번째 것 만 가져옴, 데이터프레임에 Boolin조건 걸어서 자주 쓰임
# Boolin인덱싱은 반복문(loop) 보다 속도가 월등히 빨라서, 사용하면 효과적임

     sepal length (cm)  sepal width (cm)  petal width (cm)
0                  5.1               3.5               0.2
1                  4.9               3.0               0.2
2                  4.7               3.2               0.2
3                  4.6               3.1               0.2
4                  5.0               3.6               0.2
5                  5.4               3.9               0.4
6                  4.6               3.4               0.3
7                  5.0               3.4               0.2
8                  4.4               2.9               0.2
9                  4.9               3.1               0.1
10                 5.4               3.7               0.2
11                 4.8               3.4               0.2
12                 4.8               3.0               0.1
13                 4.3               3.0               0.1
14                 5.8               4.0               0.2
15                 5.7               4.4               0.4
16                 5.4               3.9               0.4
17                 5.1               3.5               0.3
18                 5.7               3.8               0.3
19                 5.1               3.8               0.3
20                 5.4               3.4               0.2
21                 5.1               3.7               0.4
22                 4.6               3.6               0.2
23                 5.1               3.3               0.5
24                 4.8               3.4               0.2
25                 5.0               3.0               0.2
26                 5.0               3.4               0.4
27                 5.2               3.5               0.2
28                 5.2               3.4               0.2
29                 4.7               3.2               0.2
30                 4.8               3.1               0.2
31                 5.4               3.4               0.4
32                 5.2               4.1               0.1
33                 5.5               4.2               0.2
34                 4.9               3.1               0.2
35                 5.0               3.2               0.2
36                 5.5               3.5               0.2
37                 4.9               3.6               0.1
38                 4.4               3.0               0.2
39                 5.1               3.4               0.2
40                 5.0               3.5               0.3
41                 4.5               2.3               0.3
42                 4.4               3.2               0.2
43                 5.0               3.5               0.6
44                 5.1               3.8               0.4
45                 4.8               3.0               0.3
46                 5.1               3.8               0.2
47                 4.6               3.2               0.2
48                 5.3               3.7               0.2
49                 5.0               3.3               0.2
50                 7.0               3.2               1.4
51                 6.4               3.2               1.5
52                 6.9               3.1               1.5
53                 5.5               2.3               1.3
54                 6.5               2.8               1.5
55                 5.7               2.8               1.3
56                 6.3               3.3               1.6
57                 4.9               2.4               1.0
58                 6.6               2.9               1.3
59                 5.2               2.7               1.4
60                 5.0               2.0               1.0
61                 5.9               3.0               1.5
62                 6.0               2.2               1.0
63                 6.1               2.9               1.4
64                 5.6               2.9               1.3
65                 6.7               3.1               1.4
66                 5.6               3.0               1.5
67                 5.8               2.7               1.0
68                 6.2               2.2               1.5
69                 5.6               2.5               1.1
70                 5.9               3.2               1.8
71                 6.1               2.8               1.3
72                 6.3               2.5               1.5
73                 6.1               2.8               1.2
74                 6.4               2.9               1.3
75                 6.6               3.0               1.4
76                 6.8               2.8               1.4
77                 6.7               3.0               1.7
78                 6.0               2.9               1.5
79                 5.7               2.6               1.0
80                 5.5               2.4               1.1
81                 5.5               2.4               1.0
82                 5.8               2.7               1.2
83                 6.0               2.7               1.6
84                 5.4               3.0               1.5
85                 6.0               3.4               1.6
86                 6.7               3.1               1.5
87                 6.3               2.3               1.3
88                 5.6               3.0               1.3
89                 5.5               2.5               1.3
90                 5.5               2.6               1.2
91                 6.1               3.0               1.4
92                 5.8               2.6               1.2
93                 5.0               2.3               1.0
94                 5.6               2.7               1.3
95                 5.7               3.0               1.2
96                 5.7               2.9               1.3
97                 6.2               2.9               1.3
98                 5.1               2.5               1.1
99                 5.7               2.8               1.3
100                6.3               3.3               2.5
101                5.8               2.7               1.9
102                7.1               3.0               2.1
103                6.3               2.9               1.8
104                6.5               3.0               2.2
105                7.6               3.0               2.1
106                4.9               2.5               1.7
107                7.3               2.9               1.8
108                6.7               2.5               1.8
109                7.2               3.6               2.5
110                6.5               3.2               2.0
111                6.4               2.7               1.9
112                6.8               3.0               2.1
113                5.7               2.5               2.0
114                5.8               2.8               2.4
115                6.4               3.2               2.3
116                6.5               3.0               1.8
117                7.7               3.8               2.2
118                7.7               2.6               2.3
119                6.0               2.2               1.5
120                6.9               3.2               2.3
121                5.6               2.8               2.0
122                7.7               2.8               2.0
123                6.3               2.7               1.8
124                6.7               3.3               2.1
125                7.2               3.2               1.8
126                6.2               2.8               1.8
127                6.1               3.0               1.8
128                6.4               2.8               2.1
129                7.2               3.0               1.6
130                7.4               2.8               1.9
131                7.9               3.8               2.0
132                6.4               2.8               2.2
133                6.3               2.8               1.5
134                6.1               2.6               1.4
135                7.7               3.0               2.3
136                6.3               3.4               2.4
137                6.4               3.1               1.8
138                6.0               3.0               1.8
139                6.9               3.1               2.1
140                6.7               3.1               2.4
141                6.9               3.1               2.3
142                5.8               2.7               1.9
143                6.8               3.2               2.3
144                6.7               3.3               2.5
145                6.7               3.0               2.3
146                6.3               2.5               1.9
147                6.5               3.0               2.0
148                6.2               3.4               2.3
149                5.9               3.0               1.8

In [66]:
iris.loc[1:3]

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [67]:
iris.loc[[1,2], 'sepal length (cm)':'petal length (cm)']

   sepal length (cm)  sepal width (cm)  petal length (cm)
1                4.9               3.0                1.4
2                4.7               3.2                1.3

### 선택한 값 변경

In [19]:
score = pd.DataFrame({'국어':[100, 80], '수학':[75, 90],
                     '영어':[90, 95]}, index=['장화', '홍련'])
score

     국어  수학  영어
장화  100  75  90
홍련   80  90  95

In [20]:
score.loc['홍련', '영어'] = 100
score

     국어  수학   영어
장화  100  75   90
홍련   80  90  100

In [21]:
score['국어'] =  score['국어'] -5
score

    국어  수학   영어
장화  95  75   90
홍련  75  90  100

## row/column 추가

### row 추가

In [22]:
new_students = pd.DataFrame({'국어':[10, 20], '수학':[30, 40], '영어':[11,21]}, index=['콩쥐', '팥쥐'])
score = score.append(new_students)
score

C:\Users\David\AppData\Local\Temp\ipykernel_14324\3524045955.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score = score.append(new_students)

    국어  수학   영어
장화  95  75   90
홍련  75  90  100
콩쥐  10  30   11
팥쥐  20  40   21

In [23]:
new_student1 = pd.DataFrame({'국어':43, '수학':37, '영어':77}, index=['순이']) # 한명을 데이터프레임으로 지정해준 후 
score = score.append(new_student1) # 추가 가능
score

C:\Users\David\AppData\Local\Temp\ipykernel_14324\2798487745.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  score = score.append(new_student1)

    국어  수학   영어
장화  95  75   90
홍련  75  90  100
콩쥐  10  30   11
팥쥐  20  40   21
순이  43  37   77

In [79]:
new_student2 = {'국어':33, '수학':77, '영어':12} # 인덱스 없이 추가 시
score.append(new_student2, ignore_index=True) # ignore_index = True 적용

   국어  수학   영어
0  95  75   90
1  75  90  100
2  10  30   11
3  20  40   21
4  43  37   77
5  33  77   12

### column 추가

In [24]:
science = [12, 43, 76, 34, 56]
score['과학'] = science # 리스트(벡터)로 추가
score['학년'] = 1 # 시리즈에 스칼라 추가시, 벡터화
score

    국어  수학   영어  과학  학년
장화  95  75   90  12   1
홍련  75  90  100  43   1
콩쥐  10  30   11  76   1
팥쥐  20  40   21  34   1
순이  43  37   77  56   1

In [81]:
score['학년'] = score['학년'] + 1 # 시리즈에 스칼라 계산시 벡터화
score['총점'] = score['국어'] + score['수학'] + score['영어']+ score['과학'] # 시리즈 별 연산 시, 스칼라 화
score

    국어  수학   영어  과학  학년   총점
장화  95  75   90  12   2  272
홍련  75  90  100  43   2  308
콩쥐  10  30   11  76   2  127
팥쥐  20  40   21  34   2  115
순이  43  37   77  56   2  213

## row/column 삭제

In [83]:
score.drop('장화')

    국어  수학   영어  과학  학년   총점
홍련  75  90  100  43   2  308
콩쥐  10  30   11  76   2  127
팥쥐  20  40   21  34   2  115
순이  43  37   77  56   2  213

In [84]:
score.drop(columns=['과학', '학년', '총점'])

    국어  수학   영어
장화  95  75   90
홍련  75  90  100
콩쥐  10  30   11
팥쥐  20  40   21
순이  43  37   77

# 조건에 맞는 데이터 탐색 및 수정

## 임의의 조건 탐색 및 데이터 수정

In [26]:
import pandas as pd

students = pd.DataFrame({"이름":['장화','홍련','콩쥐','팥쥐','해님','달림'],
                        '국어':[11,22,33,44,55,66],
                        '수학':[99,88,77,66,55,44]})
students

   이름  국어  수학
0  장화  11  99
1  홍련  22  88
2  콩쥐  33  77
3  팥쥐  44  66
4  해님  55  55
5  달림  66  44

In [27]:
students[students['이름']=='장화'] # 매우 중요 !! boolin 인덱싱

   이름  국어  수학
0  장화  11  99

In [28]:
students[(students['국어']> 40) & (students['수학']< 60)] # 2개이상 조건

   이름  국어  수학
4  해님  55  55
5  달림  66  44

In [30]:
# students.loc[6, '이름':'수학'] = ['별님', 50, 60]
students.loc[6] = ['별님', 50, 60] # 둘다 됨~
students

   이름    국어    수학
0  장화  11.0  99.0
1  홍련  22.0  88.0
2  콩쥐  33.0  77.0
3  팥쥐  44.0  66.0
4  해님  55.0  55.0
5  달림  66.0  44.0
6  별님  50.0  60.0

In [31]:
students.loc[(students['국어']>50)&(students['수학']>=50), '합격'] = 'Pass' # 필터링 하여 입력, loop+if 필요없음
students.loc[students['합격']!='Pass', '합격'] = 'Fail'
students

   이름    국어    수학    합격
0  장화  11.0  99.0  Fail
1  홍련  22.0  88.0  Fail
2  콩쥐  33.0  77.0  Fail
3  팥쥐  44.0  66.0  Fail
4  해님  55.0  55.0  Pass
5  달림  66.0  44.0  Fail
6  별님  50.0  60.0  Fail

더 많은 조건도, 리스트형태로 boolin인덱싱 입력하면 반복문보다 훨씬 빠르게 데이터 입력 가능

In [98]:

import numpy as np
condition_list = [(students['수학'] >= 90),
                 (students['수학'] >= 80) & (students['수학'] < 90), 
                 (students['수학'] >= 70) & (students['수학'] < 80)]
choice_list = ['A','B','C']
students['점수'] = np.select(condition_list, choice_list, default='F')
students

   이름    국어    수학    합격 점수
0  장화  11.0  99.0  Fail  A
1  홍련  22.0  88.0  Fail  B
2  콩쥐  33.0  77.0  Fail  C
3  팥쥐  44.0  66.0  Fail  F
4  해님  55.0  55.0  Pass  F
5  달림  66.0  44.0  Fail  F
6  별님  50.0  60.0  Fail  F

## 결측값 탐색 및 수정

In [111]:
students.loc[students['이름']=='콩쥐', '국어'] = np.nan # np.nan은 결측치를 만들어준다
students.loc[students['이름']=='해님', '국어'] = np.nan
students.loc[students['이름']=='해님', '수학'] = np.nan

In [112]:
students.isna().sum()

이름    0
국어    2
수학    1
합격    0
점수    0
dtype: int64

In [113]:
students.isna().sum(1)

0    0
1    0
2    1
3    0
4    2
5    0
6    0
dtype: int64

In [114]:
students.dropna()

   이름    국어    수학    합격 점수
0  장화  11.0  99.0  Fail  A
1  홍련  22.0  88.0  Fail  B
3  팥쥐  44.0  66.0  Fail  F
5  달림  66.0  44.0  Fail  F
6  별님  50.0  60.0  Fail  F

In [115]:
students.dropna(thresh=4)

   이름    국어    수학    합격 점수
0  장화  11.0  99.0  Fail  A
1  홍련  22.0  88.0  Fail  B
2  콩쥐   NaN  77.0  Fail  C
3  팥쥐  44.0  66.0  Fail  F
5  달림  66.0  44.0  Fail  F
6  별님  50.0  60.0  Fail  F

In [131]:
health = pd.DataFrame({'연도':[2017, 2018, 2019, 2020, 2021, 2022],
                      '키':[160, 162, 165, None, None, 166],
                      '몸무게':[53, 52, None, 50, 51, 54],
                      '시력':[1.2, None, 1.2, 1.2, 1.1, 1.0],
                      '병결':[None, None, None, 2, None, 1]})
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  NaN
1  2018  162.0  52.0  NaN  NaN
2  2019  165.0   NaN  1.2  NaN
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  NaN
5  2022  166.0  54.0  1.0  1.0

In [132]:
health.fillna(0)

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  0.0  0.0
2  2019  165.0   0.0  1.2  0.0
3  2020    0.0  50.0  1.2  2.0
4  2021    0.0  51.0  1.1  0.0
5  2022  166.0  54.0  1.0  1.0

In [133]:
health.mean()

연도     2019.50
키       163.25
몸무게      52.00
시력        1.14
병결        1.50
dtype: float64

In [134]:
health.fillna(health.mean())

     연도       키   몸무게    시력   병결
0  2017  160.00  53.0  1.20  1.5
1  2018  162.00  52.0  1.14  1.5
2  2019  165.00  52.0  1.20  1.5
3  2020  163.25  50.0  1.20  2.0
4  2021  163.25  51.0  1.10  1.5
5  2022  166.00  54.0  1.00  1.0

In [135]:
health['병결'] = health['병결'].fillna(0)
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  NaN  0.0
2  2019  165.0   NaN  1.2  0.0
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  0.0
5  2022  166.0  54.0  1.0  1.0

In [124]:
# health['몸무게'] = health['몸무게'].interpolate()
# health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  NaN  0.0
2  2019  165.0  51.0  1.2  0.0
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  0.0
5  2022  166.0  54.0  1.0  1.0

In [126]:
# health['시력']=health['시력'].interpolate()
# health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  1.2  0.0
2  2019  165.0  51.0  1.2  0.0
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  0.0
5  2022  166.0  54.0  1.0  1.0

In [128]:
# health['키'] = health['키'].interpolate()
# health

     연도           키   몸무게   시력   병결
0  2017  160.000000  53.0  1.2  0.0
1  2018  162.000000  52.0  1.2  0.0
2  2019  165.000000  51.0  1.2  0.0
3  2020  165.333333  50.0  1.2  2.0
4  2021  165.666667  51.0  1.1  0.0
5  2022  166.000000  54.0  1.0  1.0

In [138]:
health = health.fillna(method='pad')
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  1.2  0.0
2  2019  165.0  52.0  1.2  0.0
3  2020  165.0  50.0  1.2  2.0
4  2021  165.0  51.0  1.1  0.0
5  2022  166.0  54.0  1.0  1.0

## 중복형 삭제

In [139]:
health['키'].drop_duplicates()

0    160.0
1    162.0
2    165.0
5    166.0
Name: 키, dtype: float64

In [140]:
set(health['키'])

{160.0, 162.0, 165.0, 166.0}

In [143]:
health[['시력','병결']]

    시력   병결
0  1.2  0.0
1  1.2  0.0
2  1.2  0.0
3  1.2  2.0
4  1.1  0.0
5  1.0  1.0

In [142]:
health[['시력','병결']].drop_duplicates()

    시력   병결
0  1.2  0.0
3  1.2  2.0
4  1.1  0.0
5  1.0  1.0

# 데이터 정렬

In [147]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris.head(10)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In [149]:
iris.sort_index(ascending=False, inplace=True)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
149                5.9               3.0                5.1               1.8
148                6.2               3.4                5.4               2.3
147                6.5               3.0                5.2               2.0
146                6.3               2.5                5.0               1.9
145                6.7               3.0                5.2               2.3
144                6.7               3.3                5.7               2.5
143                6.8               3.2                5.9               2.3
142                5.8               2.7                5.1               1.9
141                6.9               3.1                5.1               2.3
140                6.7               3.1                5.6               2.4
139                6.9               3.1                5.4               2.1
138                6.0               3.0                4.8               1.8
137                6.4               3.1                5.5               1.8
136                6.3               3.4                5.6               2.4
135                7.7               3.0                6.1               2.3
134                6.1               2.6                5.6               1.4
133                6.3               2.8                5.1               1.5
132                6.4               2.8                5.6               2.2
131                7.9               3.8                6.4               2.0
130                7.4               2.8                6.1               1.9
129                7.2               3.0                5.8               1.6
128                6.4               2.8                5.6               2.1
127                6.1               3.0                4.9               1.8
126                6.2               2.8                4.8               1.8
125                7.2               3.2                6.0               1.8
124                6.7               3.3                5.7               2.1
123                6.3               2.7                4.9               1.8
122                7.7               2.8                6.7               2.0
121                5.6               2.8                4.9               2.0
120                6.9               3.2                5.7               2.3
119                6.0               2.2                5.0               1.5
118                7.7               2.6                6.9               2.3
117                7.7               3.8                6.7               2.2
116                6.5               3.0                5.5               1.8
115                6.4               3.2                5.3               2.3
114                5.8               2.8                5.1               2.4
113                5.7               2.5                5.0               2.0
112                6.8               3.0                5.5               2.1
111                6.4               2.7                5.3               1.9
110                6.5               3.2                5.1               2.0
109                7.2               3.6                6.1               2.5
108                6.7               2.5                5.8               1.8
107                7.3               2.9                6.3               1.8
106                4.9               2.5                4.5               1.7
105                7.6               3.0                6.6               2.1
104                6.5               3.0                5.8               2.2
103                6.3               2.9                5.6               1.8
102                7.1               3.0                5.9               2.1
101                5.8               2.7                5.1               1.9
100                6.3               3.3                6.0               2.5
99                 5.7               2.8                4.1               1.3
98                 5.1               2.5                3.0               1.1
97                 6.2               2.9                4.3               1.3
96                 5.7               2.9                4.2               1.3
95                 5.7               3.0                4.2               1.2
94                 5.6               2.7                4.2               1.3
93                 5.0               2.3                3.3               1.0
92                 5.8               2.6                4.0               1.2
91                 6.1               3.0                4.6               1.4
90                 5.5               2.6                4.4               1.2
89                 5.5               2.5                4.0               1.3
88                 5.6               3.0                4.1               1.3
87                 6.3               2.3                4.4               1.3
86                 6.7               3.1                4.7               1.5
85                 6.0               3.4                4.5               1.6
84                 5.4               3.0                4.5               1.5
83                 6.0               2.7                5.1               1.6
82                 5.8               2.7                3.9               1.2
81                 5.5               2.4                3.7               1.0
80                 5.5               2.4                3.8               1.1
79                 5.7               2.6                3.5               1.0
78                 6.0               2.9                4.5               1.5
77                 6.7               3.0                5.0               1.7
76                 6.8               2.8                4.8               1.4
75                 6.6               3.0                4.4               1.4
74                 6.4               2.9                4.3               1.3
73                 6.1               2.8                4.7               1.2
72                 6.3               2.5                4.9               1.5
71                 6.1               2.8                4.0               1.3
70                 5.9               3.2                4.8               1.8
69                 5.6               2.5                3.9               1.1
68                 6.2               2.2                4.5               1.5
67                 5.8               2.7                4.1               1.0
66                 5.6               3.0                4.5               1.5
65                 6.7               3.1                4.4               1.4
64                 5.6               2.9                3.6               1.3
63                 6.1               2.9                4.7               1.4
62                 6.0               2.2                4.0               1.0
61                 5.9               3.0                4.2               1.5
60                 5.0               2.0                3.5               1.0
59                 5.2               2.7                3.9               1.4
58                 6.6               2.9                4.6               1.3
57                 4.9               2.4                3.3               1.0
56                 6.3               3.3                4.7               1.6
55                 5.7               2.8                4.5               1.3
54                 6.5               2.8                4.6               1.5
53                 5.5               2.3                4.0               1.3
52                 6.9               3.1                4.9               1.5
51                 6.4               3.2                4.5               1.5
50                 7.0               3.2                4.7               1.4
49                 5.0               3.3                1.4               0.2
48                 5.3               3.7                1.5               0.2
47                 4.6               3.2                1.4               0.2
46                 5.1               3.8                1.6               0.2
45                 4.8               3.0                1.4               0.3
44                 5.1               3.8                1.9               0.4
43                 5.0               3.5                1.6               0.6
42                 4.4               3.2                1.3               0.2
41                 4.5               2.3                1.3               0.3
40                 5.0               3.5                1.3               0.3
39                 5.1               3.4                1.5               0.2
38                 4.4               3.0                1.3               0.2
37                 4.9               3.6                1.4               0.1
36                 5.5               3.5                1.3               0.2
35                 5.0               3.2                1.2               0.2
34                 4.9               3.1                1.5               0.2
33                 5.5               4.2                1.4               0.2
32                 5.2               4.1                1.5               0.1
31                 5.4               3.4                1.5               0.4
30                 4.8               3.1                1.6               0.2
29                 4.7               3.2                1.6               0.2
28                 5.2               3.4                1.4               0.2
27                 5.2               3.5                1.5               0.2
26                 5.0               3.4                1.6               0.4
25                 5.0               3.0                1.6               0.2
24                 4.8               3.4                1.9               0.2
23                 5.1               3.3                1.7               0.5
22                 4.6               3.6                1.0               0.2
21                 5.1               3.7                1.5               0.4
20                 5.4               3.4                1.7               0.2
19                 5.1               3.8                1.5               0.3
18                 5.7               3.8                1.7               0.3
17                 5.1               3.5                1.4               0.3
16                 5.4               3.9                1.3               0.4
15                 5.7               4.4                1.5               0.4
14                 5.8               4.0                1.2               0.2
13                 4.3               3.0                1.1               0.1
12                 4.8               3.0                1.4               0.1
11                 4.8               3.4                1.6               0.2
10                 5.4               3.7                1.5               0.2
9                  4.9               3.1                1.5               0.1
8                  4.4               2.9                1.4               0.2
7                  5.0               3.4                1.5               0.2
6                  4.6               3.4                1.4               0.3
5                  5.4               3.9                1.7               0.4
4                  5.0               3.6                1.4               0.2
3                  4.6               3.1                1.5               0.2
2                  4.7               3.2                1.3               0.2
1                  4.9               3.0                1.4               0.2
0                  5.1               3.5                1.4               0.2

In [150]:
iris.sort_index(axis=1, ascending=True, inplace=True)
iris

     petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
149                5.1               1.8                5.9               3.0
148                5.4               2.3                6.2               3.4
147                5.2               2.0                6.5               3.0
146                5.0               1.9                6.3               2.5
145                5.2               2.3                6.7               3.0
144                5.7               2.5                6.7               3.3
143                5.9               2.3                6.8               3.2
142                5.1               1.9                5.8               2.7
141                5.1               2.3                6.9               3.1
140                5.6               2.4                6.7               3.1
139                5.4               2.1                6.9               3.1
138                4.8               1.8                6.0               3.0
137                5.5               1.8                6.4               3.1
136                5.6               2.4                6.3               3.4
135                6.1               2.3                7.7               3.0
134                5.6               1.4                6.1               2.6
133                5.1               1.5                6.3               2.8
132                5.6               2.2                6.4               2.8
131                6.4               2.0                7.9               3.8
130                6.1               1.9                7.4               2.8
129                5.8               1.6                7.2               3.0
128                5.6               2.1                6.4               2.8
127                4.9               1.8                6.1               3.0
126                4.8               1.8                6.2               2.8
125                6.0               1.8                7.2               3.2
124                5.7               2.1                6.7               3.3
123                4.9               1.8                6.3               2.7
122                6.7               2.0                7.7               2.8
121                4.9               2.0                5.6               2.8
120                5.7               2.3                6.9               3.2
119                5.0               1.5                6.0               2.2
118                6.9               2.3                7.7               2.6
117                6.7               2.2                7.7               3.8
116                5.5               1.8                6.5               3.0
115                5.3               2.3                6.4               3.2
114                5.1               2.4                5.8               2.8
113                5.0               2.0                5.7               2.5
112                5.5               2.1                6.8               3.0
111                5.3               1.9                6.4               2.7
110                5.1               2.0                6.5               3.2
109                6.1               2.5                7.2               3.6
108                5.8               1.8                6.7               2.5
107                6.3               1.8                7.3               2.9
106                4.5               1.7                4.9               2.5
105                6.6               2.1                7.6               3.0
104                5.8               2.2                6.5               3.0
103                5.6               1.8                6.3               2.9
102                5.9               2.1                7.1               3.0
101                5.1               1.9                5.8               2.7
100                6.0               2.5                6.3               3.3
99                 4.1               1.3                5.7               2.8
98                 3.0               1.1                5.1               2.5
97                 4.3               1.3                6.2               2.9
96                 4.2               1.3                5.7               2.9
95                 4.2               1.2                5.7               3.0
94                 4.2               1.3                5.6               2.7
93                 3.3               1.0                5.0               2.3
92                 4.0               1.2                5.8               2.6
91                 4.6               1.4                6.1               3.0
90                 4.4               1.2                5.5               2.6
89                 4.0               1.3                5.5               2.5
88                 4.1               1.3                5.6               3.0
87                 4.4               1.3                6.3               2.3
86                 4.7               1.5                6.7               3.1
85                 4.5               1.6                6.0               3.4
84                 4.5               1.5                5.4               3.0
83                 5.1               1.6                6.0               2.7
82                 3.9               1.2                5.8               2.7
81                 3.7               1.0                5.5               2.4
80                 3.8               1.1                5.5               2.4
79                 3.5               1.0                5.7               2.6
78                 4.5               1.5                6.0               2.9
77                 5.0               1.7                6.7               3.0
76                 4.8               1.4                6.8               2.8
75                 4.4               1.4                6.6               3.0
74                 4.3               1.3                6.4               2.9
73                 4.7               1.2                6.1               2.8
72                 4.9               1.5                6.3               2.5
71                 4.0               1.3                6.1               2.8
70                 4.8               1.8                5.9               3.2
69                 3.9               1.1                5.6               2.5
68                 4.5               1.5                6.2               2.2
67                 4.1               1.0                5.8               2.7
66                 4.5               1.5                5.6               3.0
65                 4.4               1.4                6.7               3.1
64                 3.6               1.3                5.6               2.9
63                 4.7               1.4                6.1               2.9
62                 4.0               1.0                6.0               2.2
61                 4.2               1.5                5.9               3.0
60                 3.5               1.0                5.0               2.0
59                 3.9               1.4                5.2               2.7
58                 4.6               1.3                6.6               2.9
57                 3.3               1.0                4.9               2.4
56                 4.7               1.6                6.3               3.3
55                 4.5               1.3                5.7               2.8
54                 4.6               1.5                6.5               2.8
53                 4.0               1.3                5.5               2.3
52                 4.9               1.5                6.9               3.1
51                 4.5               1.5                6.4               3.2
50                 4.7               1.4                7.0               3.2
49                 1.4               0.2                5.0               3.3
48                 1.5               0.2                5.3               3.7
47                 1.4               0.2                4.6               3.2
46                 1.6               0.2                5.1               3.8
45                 1.4               0.3                4.8               3.0
44                 1.9               0.4                5.1               3.8
43                 1.6               0.6                5.0               3.5
42                 1.3               0.2                4.4               3.2
41                 1.3               0.3                4.5               2.3
40                 1.3               0.3                5.0               3.5
39                 1.5               0.2                5.1               3.4
38                 1.3               0.2                4.4               3.0
37                 1.4               0.1                4.9               3.6
36                 1.3               0.2                5.5               3.5
35                 1.2               0.2                5.0               3.2
34                 1.5               0.2                4.9               3.1
33                 1.4               0.2                5.5               4.2
32                 1.5               0.1                5.2               4.1
31                 1.5               0.4                5.4               3.4
30                 1.6               0.2                4.8               3.1
29                 1.6               0.2                4.7               3.2
28                 1.4               0.2                5.2               3.4
27                 1.5               0.2                5.2               3.5
26                 1.6               0.4                5.0               3.4
25                 1.6               0.2                5.0               3.0
24                 1.9               0.2                4.8               3.4
23                 1.7               0.5                5.1               3.3
22                 1.0               0.2                4.6               3.6
21                 1.5               0.4                5.1               3.7
20                 1.7               0.2                5.4               3.4
19                 1.5               0.3                5.1               3.8
18                 1.7               0.3                5.7               3.8
17                 1.4               0.3                5.1               3.5
16                 1.3               0.4                5.4               3.9
15                 1.5               0.4                5.7               4.4
14                 1.2               0.2                5.8               4.0
13                 1.1               0.1                4.3               3.0
12                 1.4               0.1                4.8               3.0
11                 1.6               0.2                4.8               3.4
10                 1.5               0.2                5.4               3.7
9                  1.5               0.1                4.9               3.1
8                  1.4               0.2                4.4               2.9
7                  1.5               0.2                5.0               3.4
6                  1.4               0.3                4.6               3.4
5                  1.7               0.4                5.4               3.9
4                  1.4               0.2                5.0               3.6
3                  1.5               0.2                4.6               3.1
2                  1.3               0.2                4.7               3.2
1                  1.4               0.2                4.9               3.0
0                  1.4               0.2                5.1               3.5

In [151]:
iris.sort_values('petal length (cm)')

     petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
22                 1.0               0.2                4.6               3.6
13                 1.1               0.1                4.3               3.0
14                 1.2               0.2                5.8               4.0
35                 1.2               0.2                5.0               3.2
16                 1.3               0.4                5.4               3.9
36                 1.3               0.2                5.5               3.5
40                 1.3               0.3                5.0               3.5
38                 1.3               0.2                4.4               3.0
42                 1.3               0.2                4.4               3.2
2                  1.3               0.2                4.7               3.2
41                 1.3               0.3                4.5               2.3
28                 1.4               0.2                5.2               3.4
37                 1.4               0.1                4.9               3.6
45                 1.4               0.3                4.8               3.0
47                 1.4               0.2                4.6               3.2
49                 1.4               0.2                5.0               3.3
33                 1.4               0.2                5.5               4.2
1                  1.4               0.2                4.9               3.0
0                  1.4               0.2                5.1               3.5
6                  1.4               0.3                4.6               3.4
8                  1.4               0.2                4.4               2.9
4                  1.4               0.2                5.0               3.6
17                 1.4               0.3                5.1               3.5
12                 1.4               0.1                4.8               3.0
48                 1.5               0.2                5.3               3.7
7                  1.5               0.2                5.0               3.4
39                 1.5               0.2                5.1               3.4
9                  1.5               0.1                4.9               3.1
10                 1.5               0.2                5.4               3.7
34                 1.5               0.2                4.9               3.1
15                 1.5               0.4                5.7               4.4
32                 1.5               0.1                5.2               4.1
31                 1.5               0.4                5.4               3.4
27                 1.5               0.2                5.2               3.5
19                 1.5               0.3                5.1               3.8
3                  1.5               0.2                4.6               3.1
21                 1.5               0.4                5.1               3.7
30                 1.6               0.2                4.8               3.1
29                 1.6               0.2                4.7               3.2
11                 1.6               0.2                4.8               3.4
26                 1.6               0.4                5.0               3.4
25                 1.6               0.2                5.0               3.0
43                 1.6               0.6                5.0               3.5
46                 1.6               0.2                5.1               3.8
20                 1.7               0.2                5.4               3.4
23                 1.7               0.5                5.1               3.3
18                 1.7               0.3                5.7               3.8
5                  1.7               0.4                5.4               3.9
44                 1.9               0.4                5.1               3.8
24                 1.9               0.2                4.8               3.4
98                 3.0               1.1                5.1               2.5
57                 3.3               1.0                4.9               2.4
93                 3.3               1.0                5.0               2.3
60                 3.5               1.0                5.0               2.0
79                 3.5               1.0                5.7               2.6
64                 3.6               1.3                5.6               2.9
81                 3.7               1.0                5.5               2.4
80                 3.8               1.1                5.5               2.4
82                 3.9               1.2                5.8               2.7
69                 3.9               1.1                5.6               2.5
59                 3.9               1.4                5.2               2.7
71                 4.0               1.3                6.1               2.8
62                 4.0               1.0                6.0               2.2
89                 4.0               1.3                5.5               2.5
92                 4.0               1.2                5.8               2.6
53                 4.0               1.3                5.5               2.3
88                 4.1               1.3                5.6               3.0
67                 4.1               1.0                5.8               2.7
99                 4.1               1.3                5.7               2.8
94                 4.2               1.3                5.6               2.7
95                 4.2               1.2                5.7               3.0
96                 4.2               1.3                5.7               2.9
61                 4.2               1.5                5.9               3.0
97                 4.3               1.3                6.2               2.9
74                 4.3               1.3                6.4               2.9
65                 4.4               1.4                6.7               3.1
75                 4.4               1.4                6.6               3.0
87                 4.4               1.3                6.3               2.3
90                 4.4               1.2                5.5               2.6
51                 4.5               1.5                6.4               3.2
106                4.5               1.7                4.9               2.5
68                 4.5               1.5                6.2               2.2
78                 4.5               1.5                6.0               2.9
66                 4.5               1.5                5.6               3.0
84                 4.5               1.5                5.4               3.0
55                 4.5               1.3                5.7               2.8
85                 4.5               1.6                6.0               3.4
54                 4.6               1.5                6.5               2.8
91                 4.6               1.4                6.1               3.0
58                 4.6               1.3                6.6               2.9
50                 4.7               1.4                7.0               3.2
73                 4.7               1.2                6.1               2.8
56                 4.7               1.6                6.3               3.3
86                 4.7               1.5                6.7               3.1
63                 4.7               1.4                6.1               2.9
126                4.8               1.8                6.2               2.8
70                 4.8               1.8                5.9               3.2
76                 4.8               1.4                6.8               2.8
138                4.8               1.8                6.0               3.0
123                4.9               1.8                6.3               2.7
121                4.9               2.0                5.6               2.8
127                4.9               1.8                6.1               3.0
72                 4.9               1.5                6.3               2.5
52                 4.9               1.5                6.9               3.1
146                5.0               1.9                6.3               2.5
77                 5.0               1.7                6.7               3.0
119                5.0               1.5                6.0               2.2
113                5.0               2.0                5.7               2.5
141                5.1               2.3                6.9               3.1
142                5.1               1.9                5.8               2.7
133                5.1               1.5                6.3               2.8
114                5.1               2.4                5.8               2.8
149                5.1               1.8                5.9               3.0
110                5.1               2.0                6.5               3.2
83                 5.1               1.6                6.0               2.7
101                5.1               1.9                5.8               2.7
147                5.2               2.0                6.5               3.0
145                5.2               2.3                6.7               3.0
111                5.3               1.9                6.4               2.7
115                5.3               2.3                6.4               3.2
139                5.4               2.1                6.9               3.1
148                5.4               2.3                6.2               3.4
137                5.5               1.8                6.4               3.1
116                5.5               1.8                6.5               3.0
112                5.5               2.1                6.8               3.0
136                5.6               2.4                6.3               3.4
134                5.6               1.4                6.1               2.6
128                5.6               2.1                6.4               2.8
103                5.6               1.8                6.3               2.9
140                5.6               2.4                6.7               3.1
132                5.6               2.2                6.4               2.8
120                5.7               2.3                6.9               3.2
144                5.7               2.5                6.7               3.3
124                5.7               2.1                6.7               3.3
104                5.8               2.2                6.5               3.0
108                5.8               1.8                6.7               2.5
129                5.8               1.6                7.2               3.0
143                5.9               2.3                6.8               3.2
102                5.9               2.1                7.1               3.0
125                6.0               1.8                7.2               3.2
100                6.0               2.5                6.3               3.3
135                6.1               2.3                7.7               3.0
109                6.1               2.5                7.2               3.6
130                6.1               1.9                7.4               2.8
107                6.3               1.8                7.3               2.9
131                6.4               2.0                7.9               3.8
105                6.6               2.1                7.6               3.0
117                6.7               2.2                7.7               3.8
122                6.7               2.0                7.7               2.8
118                6.9               2.3                7.7               2.6

In [152]:
iris.sort_values(['petal length (cm)', 'sepal length (cm)'])

     petal length (cm)  petal width (cm)  sepal length (cm)  sepal width (cm)
22                 1.0               0.2                4.6               3.6
13                 1.1               0.1                4.3               3.0
35                 1.2               0.2                5.0               3.2
14                 1.2               0.2                5.8               4.0
42                 1.3               0.2                4.4               3.2
38                 1.3               0.2                4.4               3.0
41                 1.3               0.3                4.5               2.3
2                  1.3               0.2                4.7               3.2
40                 1.3               0.3                5.0               3.5
16                 1.3               0.4                5.4               3.9
36                 1.3               0.2                5.5               3.5
8                  1.4               0.2                4.4               2.9
47                 1.4               0.2                4.6               3.2
6                  1.4               0.3                4.6               3.4
45                 1.4               0.3                4.8               3.0
12                 1.4               0.1                4.8               3.0
37                 1.4               0.1                4.9               3.6
1                  1.4               0.2                4.9               3.0
49                 1.4               0.2                5.0               3.3
4                  1.4               0.2                5.0               3.6
17                 1.4               0.3                5.1               3.5
0                  1.4               0.2                5.1               3.5
28                 1.4               0.2                5.2               3.4
33                 1.4               0.2                5.5               4.2
3                  1.5               0.2                4.6               3.1
34                 1.5               0.2                4.9               3.1
9                  1.5               0.1                4.9               3.1
7                  1.5               0.2                5.0               3.4
39                 1.5               0.2                5.1               3.4
21                 1.5               0.4                5.1               3.7
19                 1.5               0.3                5.1               3.8
32                 1.5               0.1                5.2               4.1
27                 1.5               0.2                5.2               3.5
48                 1.5               0.2                5.3               3.7
31                 1.5               0.4                5.4               3.4
10                 1.5               0.2                5.4               3.7
15                 1.5               0.4                5.7               4.4
29                 1.6               0.2                4.7               3.2
30                 1.6               0.2                4.8               3.1
11                 1.6               0.2                4.8               3.4
43                 1.6               0.6                5.0               3.5
26                 1.6               0.4                5.0               3.4
25                 1.6               0.2                5.0               3.0
46                 1.6               0.2                5.1               3.8
23                 1.7               0.5                5.1               3.3
20                 1.7               0.2                5.4               3.4
5                  1.7               0.4                5.4               3.9
18                 1.7               0.3                5.7               3.8
24                 1.9               0.2                4.8               3.4
44                 1.9               0.4                5.1               3.8
98                 3.0               1.1                5.1               2.5
57                 3.3               1.0                4.9               2.4
93                 3.3               1.0                5.0               2.3
60                 3.5               1.0                5.0               2.0
79                 3.5               1.0                5.7               2.6
64                 3.6               1.3                5.6               2.9
81                 3.7               1.0                5.5               2.4
80                 3.8               1.1                5.5               2.4
59                 3.9               1.4                5.2               2.7
69                 3.9               1.1                5.6               2.5
82                 3.9               1.2                5.8               2.7
89                 4.0               1.3                5.5               2.5
53                 4.0               1.3                5.5               2.3
92                 4.0               1.2                5.8               2.6
62                 4.0               1.0                6.0               2.2
71                 4.0               1.3                6.1               2.8
88                 4.1               1.3                5.6               3.0
99                 4.1               1.3                5.7               2.8
67                 4.1               1.0                5.8               2.7
94                 4.2               1.3                5.6               2.7
96                 4.2               1.3                5.7               2.9
95                 4.2               1.2                5.7               3.0
61                 4.2               1.5                5.9               3.0
97                 4.3               1.3                6.2               2.9
74                 4.3               1.3                6.4               2.9
90                 4.4               1.2                5.5               2.6
87                 4.4               1.3                6.3               2.3
75                 4.4               1.4                6.6               3.0
65                 4.4               1.4                6.7               3.1
106                4.5               1.7                4.9               2.5
84                 4.5               1.5                5.4               3.0
66                 4.5               1.5                5.6               3.0
55                 4.5               1.3                5.7               2.8
85                 4.5               1.6                6.0               3.4
78                 4.5               1.5                6.0               2.9
68                 4.5               1.5                6.2               2.2
51                 4.5               1.5                6.4               3.2
91                 4.6               1.4                6.1               3.0
54                 4.6               1.5                6.5               2.8
58                 4.6               1.3                6.6               2.9
73                 4.7               1.2                6.1               2.8
63                 4.7               1.4                6.1               2.9
56                 4.7               1.6                6.3               3.3
86                 4.7               1.5                6.7               3.1
50                 4.7               1.4                7.0               3.2
70                 4.8               1.8                5.9               3.2
138                4.8               1.8                6.0               3.0
126                4.8               1.8                6.2               2.8
76                 4.8               1.4                6.8               2.8
121                4.9               2.0                5.6               2.8
127                4.9               1.8                6.1               3.0
123                4.9               1.8                6.3               2.7
72                 4.9               1.5                6.3               2.5
52                 4.9               1.5                6.9               3.1
113                5.0               2.0                5.7               2.5
119                5.0               1.5                6.0               2.2
146                5.0               1.9                6.3               2.5
77                 5.0               1.7                6.7               3.0
142                5.1               1.9                5.8               2.7
114                5.1               2.4                5.8               2.8
101                5.1               1.9                5.8               2.7
149                5.1               1.8                5.9               3.0
83                 5.1               1.6                6.0               2.7
133                5.1               1.5                6.3               2.8
110                5.1               2.0                6.5               3.2
141                5.1               2.3                6.9               3.1
147                5.2               2.0                6.5               3.0
145                5.2               2.3                6.7               3.0
115                5.3               2.3                6.4               3.2
111                5.3               1.9                6.4               2.7
148                5.4               2.3                6.2               3.4
139                5.4               2.1                6.9               3.1
137                5.5               1.8                6.4               3.1
116                5.5               1.8                6.5               3.0
112                5.5               2.1                6.8               3.0
134                5.6               1.4                6.1               2.6
136                5.6               2.4                6.3               3.4
103                5.6               1.8                6.3               2.9
132                5.6               2.2                6.4               2.8
128                5.6               2.1                6.4               2.8
140                5.6               2.4                6.7               3.1
144                5.7               2.5                6.7               3.3
124                5.7               2.1                6.7               3.3
120                5.7               2.3                6.9               3.2
104                5.8               2.2                6.5               3.0
108                5.8               1.8                6.7               2.5
129                5.8               1.6                7.2               3.0
143                5.9               2.3                6.8               3.2
102                5.9               2.1                7.1               3.0
100                6.0               2.5                6.3               3.3
125                6.0               1.8                7.2               3.2
109                6.1               2.5                7.2               3.6
130                6.1               1.9                7.4               2.8
135                6.1               2.3                7.7               3.0
107                6.3               1.8                7.3               2.9
131                6.4               2.0                7.9               3.8
105                6.6               2.1                7.6               3.0
122                6.7               2.0                7.7               2.8
117                6.7               2.2                7.7               3.8
118                6.9               2.3                7.7               2.6

# 데이터 결합

## 단순 연결

pd.concat([df1, df2, ...])로 같은 컬럼을 가진 두개 이상의 데이터프레임을 합쳐줄 수 있음. <br>
pd.concat([df for df in dfslists])와 같이 (os.path를 활용하여 리스트명을 불러온후) 리스트컴프리헨션으로 일괄 결합도 가능함

In [154]:
import pandas as pd

HR1 = pd.DataFrame({'이름':['장화','홍련'],
                   '부서':['영업','회계'],
                   '직급':['팀장','사원']})

HR2 = pd.DataFrame({'이름':['콩쥐','팥쥐'],
                   '부서':['영업','인사'],
                   '직급':['사원','팀장']})

In [155]:
pd.concat([HR1, HR2])

   이름  부서  직급
0  장화  영업  팀장
1  홍련  회계  사원
0  콩쥐  영업  사원
1  팥쥐  인사  팀장

In [156]:
pd.concat([HR1, HR2], ignore_index=True)

   이름  부서  직급
0  장화  영업  팀장
1  홍련  회계  사원
2  콩쥐  영업  사원
3  팥쥐  인사  팀장

In [157]:
HR3 = pd.DataFrame({'이름':['콩쥐','팥쥐'],
                   '부서':['영업','인사'],
                   '급여':[1300, 2300]})

pd.concat([HR1, HR3], ignore_index=True)

   이름  부서   직급      급여
0  장화  영업   팀장     NaN
1  홍련  회계   사원     NaN
2  콩쥐  영업  NaN  1300.0
3  팥쥐  인사  NaN  2300.0

In [160]:
HR4 = pd.Series({1:2500}, name='급여')
HR4

1    2500
Name: 급여, dtype: int64

In [161]:
pd.concat([HR1, HR4], axis=1)

   이름  부서  직급      급여
0  장화  영업  팀장     NaN
1  홍련  회계  사원  2500.0

In [177]:
HR5 = pd.DataFrame({'급여':[4500, 3000, 3500]})
HR5
pd.concat([HR1, HR5], axis=1)

    이름   부서   직급    급여
0   장화   영업   팀장  4500
1   홍련   회계   사원  3000
2  NaN  NaN  NaN  3500

## 조인
<br> 데이터프레임의 성격이 다를 때, 합치고 싶을때는 merge를 쓴다. <br>
엑셀로 따지면, vlookup 같은 개념임. 합칠때는 어떤 변수를 기준으로 (on='') 합칠 지<br>
어떤 방식으로 (how='inner' 교집합, 'outer'합집합, 'left', 'right') 합칠 지에 따라 결측치가 다르게 발생한다

In [181]:
product = pd.DataFrame({'상품코드':['G1', 'G2', 'G3', 'G4'],
                       '상품명':['우유','감자','빵','치킨']})
sale = pd.DataFrame({'주문번호':[1001, 1002, 1002,1003, 1004],
                    '상품코드':['G4', 'G3','G1','G3','G5'],
                    '주문수량':[1,4,2,2,3]})

In [182]:
sale.merge(product, on='상품코드', how='inner')

   주문번호 상품코드  주문수량 상품명
0  1001   G4     1  치킨
1  1002   G3     4   빵
2  1003   G3     2   빵
3  1002   G1     2  우유

In [183]:
sale.merge(product, on='상품코드', how='outer', sort=True)

     주문번호 상품코드  주문수량  상품명
0  1002.0   G1   2.0   우유
1     NaN   G2   NaN   감자
2  1002.0   G3   4.0    빵
3  1003.0   G3   2.0    빵
4  1001.0   G4   1.0   치킨
5  1004.0   G5   3.0  NaN

In [184]:
sale.merge(product, on='상품코드', how='left')

   주문번호 상품코드  주문수량  상품명
0  1001   G4     1   치킨
1  1002   G3     4    빵
2  1002   G1     2   우유
3  1003   G3     2    빵
4  1004   G5     3  NaN

# 데이터 요약

## 그룹화와 집계

DataFrame.groupby(by='대상컬럼', axis = 0, level = None, as_index = True, sort=False, dropna=True).함수명()
* by : 그룹을 나눌 기준을 정함
* level :  축이 계층구조일 때 특정 수준을 기준으로 그룹화
* as_index : 그룹레이블이 인덱스로 출력될지의 여부 (default True)
* dropna : 결측값이 행/열과 함께 삭제

> 그룹바이 함수의 종류
 * count() 값의개수, sum() 합계, min() 최소값, max() 최대값, mean() 평균, median() 중앙값, <br> std() 표준편차, var() 분산, quantile(n) 분위수, first() 첫번째값, last() 마지막값, describe()기술통계량

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target
df['class'] = df['class'].map({0:'setosa', 1:'versicolor', 2:'virginica'}) # .map() 메소드로 컬럼명을 매핑하여 변경 가능
df.groupby(by='class').mean() # groupby를 통해 'class'컬럼으로 피벗팅

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
class,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [4]:
df.groupby(by='class').describe()

           sepal length (cm)                                              \
                       count   mean       std  min    25%  50%  75%  max
class
setosa                  50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor              50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica               50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal width (cm)         ... petal length (cm)       \
                      count   mean  ...               75%  max
class                               ...
setosa                 50.0  3.428  ...             1.575  1.9
versicolor             50.0  2.770  ...             4.600  5.1
virginica              50.0  2.974  ...             5.875  6.9

           petal width (cm)
                      count   mean       std  min  25%  50%  75%  max
class
setosa                 50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor             50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica              50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

agg() 함수를 통해 원하는 함수를 리스트형태로 받아줄 수 있음

In [9]:
func = ['count', 'sum', 'min', 'max', 'mean', 'median',
'std', 'var','quantile']
df.groupby(by='class').agg(func)

           sepal length (cm)                                           \
                       count    sum  min  max   mean median       std
class
setosa                    50  250.3  4.3  5.8  5.006    5.0  0.352490
versicolor                50  296.8  4.9  7.0  5.936    5.9  0.516171
virginica                 50  329.4  4.9  7.9  6.588    6.5  0.635880

                              sepal width (cm)  ... petal length (cm)  \
                 var quantile            count  ...          quantile
class                                           ...
setosa      0.124249      5.0               50  ...              1.50
versicolor  0.266433      5.9               50  ...              4.35
virginica   0.404343      6.5               50  ...              5.55

           petal width (cm)                                           \
                      count    sum  min  max   mean median       std
class
setosa                   50   12.3  0.1  0.6  0.246    0.2  0.105386
versicolor               50   66.3  1.0  1.8  1.326    1.3  0.197753
virginica                50  101.3  1.4  2.5  2.026    2.0  0.274650


                 var quantile
class
setosa      0.011106      0.2
versicolor  0.039106      1.3
virginica   0.075433      2.0

[3 rows x 36 columns]

## 도수분포표

도수분포표는 자료를 몇개의 구간으로 나누고,<b>나뉜 구간에 속한 자료의 개수를 정리한 표</b> <br>
(이 표를 그래프로 그리면 히스토그램이 된다.)

In [10]:
pd.Series(df['class']).value_counts()

setosa        50
versicolor    50
virginica     50
Name: class, dtype: int64

3개 구간으로 나누기 위해 pd.qcut 활용함, 3개 구간에 대체로 균등하게 분할/구분하는 것을 확인

In [201]:
df['petal width level']=pd.qcut(df['petal width (cm)'], q=3, labels=['short', 'middle', 'long'])
df['petal width level'].value_counts().to_frame()

        petal width level
middle                 52
short                  50
long                   48

In [202]:
df.groupby('petal width level').mean()['petal length (cm)']

petal width level
short     1.462000
middle    4.321154
long      5.539583
Name: petal length (cm), dtype: float64

crosstab으로 도수구간의 인덱스화, 특정컬럼 대상 도수분포를 보여준다

In [203]:
pd.crosstab(df['petal width level'], df['class'])

class              setosa  versicolor  virginica
petal width level
short                  50           0          0
middle                  0          48          4
long                    0           2         46

In [205]:
pd.crosstab(df['class'], df['petal width level'])

petal width level  short  middle  long
class
setosa                50       0     0
versicolor             0      48     2
virginica              0       4    46

# 데이터 재구조화

## 피벗 테이블

데이터프레임 생성

In [11]:
import pandas as pd

score = {'학년':[1,1,1,1,2,2],
        '반':['A', 'A', 'B', 'B', 'C', 'C'],
        '성별':['여자', '남자', '여자', '남자', '여자', '남자'],
        '성적':[76, 88, 85, 72, 68, 70]}

score = pd.DataFrame(score)
score

   학년  반  성별  성적
0   1  A  여자  76
1   1  A  남자  88
2   1  B  여자  85
3   1  B  남자  72
4   2  C  여자  68
5   2  C  남자  70

pivot_table

In [12]:
score = score.pivot_table(index=['학년', '반'], columns='성별', values='성적')
score

성별    남자  여자
학년 반
1  A  88  76
   B  72  85
2  C  70  68

## 멜트(melt)

In [213]:
score.reset_index().melt(id_vars=['학년', '반'], var_name = '성별', value_name='성적')

   학년  반  성별  성격
0   1  A  남자  88
1   1  B  남자  72
2   2  C  남자  70
3   1  A  여자  76
4   1  B  여자  85
5   2  C  여자  68

# 데이터프레임에 함수 적용하기

## Apply

In [214]:
import numpy as np

score.apply(np.sqrt, axis=0)

성별          남자        여자
학년 반
1  A  9.380832  8.717798
   B  8.485281  9.219544
2  C  8.366600  8.246211

In [215]:
score.apply(np.max, axis=0)

성별
남자    88
여자    85
dtype: int64

In [216]:
def plus_five(val):
    return val +5

score.apply(plus_five)

성별    남자  여자
학년 반
1  A  93  81
   B  77  90
2  C  75  73

In [221]:
import math 

def class_avg(df):
    return math.ceil((df['남자'] + df['여자'])/2)

score.apply(class_avg, axis=1)

학년  반
1   A    82
    B    79
2   C    69
dtype: int64

## Map

In [222]:
score['남자'].map(lambda x : x+3)

학년  반
1   A    91
    B    75
2   C    73
Name: 남자, dtype: int64

# 문자열 데이터 변환하기

## 인덱싱

In [228]:
import pandas as pd

landmark = pd.DataFrame({'name':['광화문','호미곶','첨성대'],
                        'location':['서울 종로구 사직로 161', '경북 포항시 남구 호미곶면 대포리 150',
                                   '경북 경주시 인완동 839-1']})
landmark['location'].str[3:6]

0    종로구
1    포항시
2    경주시
Name: location, dtype: object

## 분할

In [229]:
landmark['location'].str.split(" ", expand=True)

    0    1    2      3     4     5
0  서울  종로구  사직로    161  None  None
1  경북  포항시   남구   호미곶면   대포리   150
2  경북  경주시  인완동  839-1  None  None

In [230]:
landmark['loc_1'] = landmark['location'].str.split(" ").str[0]
landmark

  name                location loc_1
0  광화문          서울 종로구 사직로 161    서울
1  호미곶  경북 포항시 남구 호미곶면 대포리 150    경북
2  첨성대        경북 경주시 인완동 839-1    경북

## 탐색

In [235]:
landmark['location'].str.startswith('서울')

0     True
1    False
2    False
Name: location, dtype: bool

In [236]:
landmark['location'].str.endswith('1')

0     True
1    False
2     True
Name: location, dtype: bool

In [237]:
landmark['location'].str.contains('1')

0    True
1    True
2    True
Name: location, dtype: bool

# 날짜 데이터 핸들링

## 현재 날짜 데이터 추출하기

In [238]:
from datetime import datetime

datetime.today()

datetime.datetime(2022, 8, 31, 15, 3, 54, 960135)

In [240]:
datetime(2022, 8, 31, 1, 19, 54, 22222)

datetime.datetime(2022, 8, 31, 1, 19, 54, 22222)

In [241]:
datetime.today().year

2022

## 날짜 형식으로 변환하기

In [244]:
datetime.strptime('2022-08-31 01:11:20', '%Y-%m-%d %H:%M:%S')

datetime.datetime(2022, 8, 31, 1, 11, 20)

In [245]:
time = datetime.today()
time.strftime('%Y-%m-%d %H:%M:%S')

'2022-08-31 15:06:56'

## 날짜 데이터 연산

In [246]:
from datetime import timedelta

time = datetime.today()
time + timedelta(days=100)

datetime.datetime(2022, 12, 9, 15, 8, 3, 191982)